USE [HFI]
GO
/****** Object:  Table [dbo].[ASSOCIATES]    Script Date: 5/16/2019 5:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSOCIATES](
	[Associate_ID] [varchar](5) NOT NULL,
	[First_Name] [char](20) NULL,
	[Last_Name] [char](20) NULL,
	[Street] [varchar](50) NULL,
	[City] [char](20) NULL,
	[State] [char](20) NULL,
	[Country] [char](20) NULL,
	[Zip_Code] [int] NULL,
	[Phone_Number] [varchar](15) NULL,
	[Email] [varchar](40) NULL,
	[Salary] [float] NULL,
	[Manager_ID] [varchar](5) NULL,
	[Store_Number] [int] NULL,
 CONSTRAINT [PK_ASSOCIATES] PRIMARY KEY CLUSTERED 
(
	[Associate_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORES]    Script Date: 5/16/2019 5:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORES](
	[Store_Number] [int] NOT NULL,
	[Street] [varchar](50) NULL,
	[City] [char](20) NULL,
	[State] [char](20) NULL,
	[Country] [char](20) NULL,
	[Zip_Code] [int] NULL,
	[Phone_Number] [varchar](15) NULL,
	[Email] [varchar](40) NULL,
	[Tax_Rate] [float] NULL,
 CONSTRAINT [PK_STORES] PRIMARY KEY CLUSTERED 
(
	[Store_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_STORES_ASSOCIATES]    Script Date: 5/16/2019 5:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_STORES_ASSOCIATES]
AS SELECT S.Store_Number,S.City ,A.Associate_ID,A.Salary,A.First_Name,A.Last_Name
FROM ASSOCIATES AS A, STORES AS S
WHERE S.Store_Number=A.Store_Number;
GO
/****** Object:  Table [dbo].[COUPONS]    Script Date: 5/16/2019 5:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUPONS](
	[Coupon_ID] [varchar](5) NOT NULL,
	[Coupon_Type] [char](15) NULL,
	[Start_Date] [date] NULL,
	[End_Date] [date] NULL,
	[Discount_Code] [varchar](6) NULL,
	[Discount_Percent] [float] NULL,
 CONSTRAINT [PK_COUPONS] PRIMARY KEY CLUSTERED 
(
	[Coupon_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER_COUPONS]    Script Date: 5/16/2019 5:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_COUPONS](
	[Customer_ID] [varchar](5) NOT NULL,
	[Coupon_ID] [varchar](5) NOT NULL,
 CONSTRAINT [PK_Customers_Coupons] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC,
	[Coupon_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER_RETURNS]    Script Date: 5/16/2019 5:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_RETURNS](
	[Return_ID] [varchar](10) NOT NULL,
	[Date] [date] NULL,
	[Reason] [text] NULL,
	[Return_Type] [char](30) NULL,
 CONSTRAINT [PK_CUSTOMER_RETURNS] PRIMARY KEY CLUSTERED 
(
	[Return_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 5/16/2019 5:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[Customer_ID] [varchar](5) NOT NULL,
	[First_Name] [char](20) NULL,
	[Last_Name] [char](20) NULL,
	[Street] [varchar](50) NULL,
	[City] [char](20) NULL,
	[State] [char](20) NULL,
	[Country] [char](20) NULL,
	[Zip_Code] [int] NULL,
	[Phone_Number] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_CUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT]    Script Date: 5/16/2019 5:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT](
	[WO-Return_ID] [varchar](10) NOT NULL,
	[Customer_ID] [varchar](5) NOT NULL,
	[Product_ID] [varchar](5) NOT NULL,
	[Product_Amount] [float] NULL,
	[Tax_Rate] [float] NULL,
 CONSTRAINT [PK_CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT] PRIMARY KEY CLUSTERED 
(
	[WO-Return_ID] ASC,
	[Customer_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANUFACTURERS]    Script Date: 5/16/2019 5:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANUFACTURERS](
	[Company_ID] [varchar](5) NOT NULL,
	[Name] [char](30) NULL,
	[Street] [varchar](50) NULL,
	[City] [char](20) NULL,
	[State] [char](20) NULL,
	[Country] [char](20) NULL,
	[Zip_Code] [int] NULL,
	[Phone_Number] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_MANUFACTURERS] PRIMARY KEY CLUSTERED 
(
	[Company_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 5/16/2019 5:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[Product_ID] [varchar](5) NOT NULL,
	[Style_Number] [varchar](5) NULL,
	[Product_Name] [varchar](30) NULL,
	[Description] [nvarchar](100) NULL,
	[Color] [char](15) NULL,
	[Size] [varchar](10) NULL,
	[Product_Catagory] [char](15) NULL,
	[Price] [float] NULL,
	[Company_ID] [varchar](5) NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES]    Script Date: 5/16/2019 5:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES](
	[Sale_ID] [varchar](5) NOT NULL,
	[Receipt_Number] [int] NULL,
	[Register_Number] [int] NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[Tax_Rate] [float] NULL,
	[Payment_Method] [char](15) NULL,
	[Selling_Price] [float] NULL,
	[Discount_Code] [varchar](6) NULL,
	[Discount_Percent] [float] NULL,
	[Customer_ID] [varchar](5) NULL,
	[Associate_ID] [varchar](5) NULL,
 CONSTRAINT [PK_SALES] PRIMARY KEY CLUSTERED 
(
	[Sale_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES_PRODUCTS_RECEIPT]    Script Date: 5/16/2019 5:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES_PRODUCTS_RECEIPT](
	[W-Return_ID] [varchar](10) NOT NULL,
	[Product_ID] [varchar](5) NOT NULL,
	[Sale_ID] [varchar](5) NOT NULL,
 CONSTRAINT [PK_SALES_PRODUCTS_RECEIPT] PRIMARY KEY CLUSTERED 
(
	[W-Return_ID] ASC,
	[Product_ID] ASC,
	[Sale_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORES_PRODUCTS]    Script Date: 5/16/2019 5:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORES_PRODUCTS](
	[Store_Number] [int] NOT NULL,
	[Product_ID] [varchar](5) NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_STORES_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[Store_Number] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORES_PRODUCTS_SALES]    Script Date: 5/16/2019 5:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORES_PRODUCTS_SALES](
	[Product_ID] [varchar](5) NOT NULL,
	[Sale_ID] [varchar](5) NOT NULL,
	[Store_Number] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_STORES_PRODUCTS_SALES] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC,
	[Sale_ID] ASC,
	[Store_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WITH_RECEIPT]    Script Date: 5/16/2019 5:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WITH_RECEIPT](
	[W-Return_ID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_WITH_RECEIPT] PRIMARY KEY CLUSTERED 
(
	[W-Return_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WITHOUT_RECEIPT]    Script Date: 5/16/2019 5:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WITHOUT_RECEIPT](
	[WO-Return_ID] [varchar](10) NOT NULL,
	[Voucher_Number] [varchar](5) NULL,
 CONSTRAINT [PK_WITHOUT_RECEIPT] PRIMARY KEY CLUSTERED 
(
	[WO-Return_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASSOCIATES]  WITH CHECK ADD  CONSTRAINT [FK_ASSOCIATES_ASSOCIATES] FOREIGN KEY([Manager_ID])
REFERENCES [dbo].[ASSOCIATES] ([Associate_ID])
GO
ALTER TABLE [dbo].[ASSOCIATES] CHECK CONSTRAINT [FK_ASSOCIATES_ASSOCIATES]
GO
ALTER TABLE [dbo].[ASSOCIATES]  WITH CHECK ADD  CONSTRAINT [FK_ASSOCIATES_STORES] FOREIGN KEY([Store_Number])
REFERENCES [dbo].[STORES] ([Store_Number])
ON UPDATE SET NULL
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ASSOCIATES] CHECK CONSTRAINT [FK_ASSOCIATES_STORES]
GO
ALTER TABLE [dbo].[CUSTOMER_COUPONS]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_COUPONS_COUPONS] FOREIGN KEY([Coupon_ID])
REFERENCES [dbo].[COUPONS] ([Coupon_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMER_COUPONS] CHECK CONSTRAINT [FK_CUSTOMER_COUPONS_COUPONS]
GO
ALTER TABLE [dbo].[CUSTOMER_COUPONS]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_COUPONS_CUSTOMERS] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[CUSTOMERS] ([Customer_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMER_COUPONS] CHECK CONSTRAINT [FK_CUSTOMER_COUPONS_CUSTOMERS]
GO
ALTER TABLE [dbo].[CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT_CUSTOMERS] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[CUSTOMERS] ([Customer_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT] CHECK CONSTRAINT [FK_CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT_CUSTOMERS]
GO
ALTER TABLE [dbo].[CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT_PRODUCTS] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[PRODUCTS] ([Product_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT] CHECK CONSTRAINT [FK_CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT_PRODUCTS]
GO
ALTER TABLE [dbo].[CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT_WITHOUT_RECEIPT] FOREIGN KEY([WO-Return_ID])
REFERENCES [dbo].[WITHOUT_RECEIPT] ([WO-Return_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT] CHECK CONSTRAINT [FK_CUSTOMERS_PRODUCTS_WITHOUT_RECEIPT_WITHOUT_RECEIPT]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_MANUFACTURERS] FOREIGN KEY([Company_ID])
REFERENCES [dbo].[MANUFACTURERS] ([Company_ID])
ON UPDATE SET NULL
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_MANUFACTURERS]
GO
ALTER TABLE [dbo].[SALES]  WITH CHECK ADD  CONSTRAINT [FK_SALES_ASSOCIATES] FOREIGN KEY([Associate_ID])
REFERENCES [dbo].[ASSOCIATES] ([Associate_ID])
ON UPDATE SET NULL
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALES] CHECK CONSTRAINT [FK_SALES_ASSOCIATES]
GO
ALTER TABLE [dbo].[SALES]  WITH CHECK ADD  CONSTRAINT [FK_SALES_CUSTOMERS] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[CUSTOMERS] ([Customer_ID])
ON UPDATE SET NULL
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALES] CHECK CONSTRAINT [FK_SALES_CUSTOMERS]
GO
ALTER TABLE [dbo].[SALES_PRODUCTS_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_SALES_PRODUCTS_RECEIPT_PRODUCTS] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[PRODUCTS] ([Product_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALES_PRODUCTS_RECEIPT] CHECK CONSTRAINT [FK_SALES_PRODUCTS_RECEIPT_PRODUCTS]
GO
ALTER TABLE [dbo].[SALES_PRODUCTS_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_SALES_PRODUCTS_RECEIPT_SALES] FOREIGN KEY([Sale_ID])
REFERENCES [dbo].[SALES] ([Sale_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALES_PRODUCTS_RECEIPT] CHECK CONSTRAINT [FK_SALES_PRODUCTS_RECEIPT_SALES]
GO
ALTER TABLE [dbo].[SALES_PRODUCTS_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_SALES_PRODUCTS_RECEIPT_WITH_RECEIPT] FOREIGN KEY([W-Return_ID])
REFERENCES [dbo].[WITH_RECEIPT] ([W-Return_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALES_PRODUCTS_RECEIPT] CHECK CONSTRAINT [FK_SALES_PRODUCTS_RECEIPT_WITH_RECEIPT]
GO
ALTER TABLE [dbo].[STORES_PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_STORES_PRODUCTS_PRODUCTS1] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[PRODUCTS] ([Product_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STORES_PRODUCTS] CHECK CONSTRAINT [FK_STORES_PRODUCTS_PRODUCTS1]
GO
ALTER TABLE [dbo].[STORES_PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_STORES_PRODUCTS_STORES] FOREIGN KEY([Store_Number])
REFERENCES [dbo].[STORES] ([Store_Number])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STORES_PRODUCTS] CHECK CONSTRAINT [FK_STORES_PRODUCTS_STORES]
GO
ALTER TABLE [dbo].[STORES_PRODUCTS_SALES]  WITH CHECK ADD  CONSTRAINT [FK_STORES_PRODUCTS_SALES_PRODUCTS] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[PRODUCTS] ([Product_ID])
GO
ALTER TABLE [dbo].[STORES_PRODUCTS_SALES] CHECK CONSTRAINT [FK_STORES_PRODUCTS_SALES_PRODUCTS]
GO
ALTER TABLE [dbo].[STORES_PRODUCTS_SALES]  WITH CHECK ADD  CONSTRAINT [FK_STORES_PRODUCTS_SALES_SALES] FOREIGN KEY([Sale_ID])
REFERENCES [dbo].[SALES] ([Sale_ID])
GO
ALTER TABLE [dbo].[STORES_PRODUCTS_SALES] CHECK CONSTRAINT [FK_STORES_PRODUCTS_SALES_SALES]
GO
ALTER TABLE [dbo].[STORES_PRODUCTS_SALES]  WITH CHECK ADD  CONSTRAINT [FK_STORES_PRODUCTS_SALES_STORES] FOREIGN KEY([Store_Number])
REFERENCES [dbo].[STORES] ([Store_Number])
GO
ALTER TABLE [dbo].[STORES_PRODUCTS_SALES] CHECK CONSTRAINT [FK_STORES_PRODUCTS_SALES_STORES]
GO
ALTER TABLE [dbo].[WITH_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_WITH_RECEIPT_CUSTOMER_RETURNS] FOREIGN KEY([W-Return_ID])
REFERENCES [dbo].[CUSTOMER_RETURNS] ([Return_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WITH_RECEIPT] CHECK CONSTRAINT [FK_WITH_RECEIPT_CUSTOMER_RETURNS]
GO
ALTER TABLE [dbo].[WITHOUT_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_WITHOUT_RECEIPT_CUSTOMER_RETURNS] FOREIGN KEY([WO-Return_ID])
REFERENCES [dbo].[CUSTOMER_RETURNS] ([Return_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WITHOUT_RECEIPT] CHECK CONSTRAINT [FK_WITHOUT_RECEIPT_CUSTOMER_RETURNS]
GO
